# Python
backend/venv/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Node
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env
frontend/.env.local

# IDEs and OS
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
Thumbs.db
db.sqlite3
.DS_Store
